$bgColor: #0b1e2d;
$white: #ffffff;
$gray1: #6e798c;
$gray2: #5b6975;
$green: #43d049;
$red: #eb5757;
$blue: #22a2bdde;
$bgColor2: #152a3a;

// Light theme
$bgColorLight: #e5e5e5;
$bgColorLight2: #fcfcfc;
$grayLight: #f2f2f2;
$grayLight2: #bdbdbd;
