@import colors
@import default

html
    background-color: $bgColor
    color: $white
    max-width: 375px
    font-family: Arial, Helvetica, sans-serif
    font-weight: 400
    line-height: 19.5px
    letter-spacing: 0.5px
    text-overflow: ellipsis
    display: flex
    justify-content: center
    align-items: center
    hr
        border: 1px solid $bgColor2
    img
        object-fit: cover
    a
        text-decoration: none
        color: $white
    .app
        .content
            padding: 10px
            @import loader
            .modal
                padding: 30px
                position: fixed
                top: 0
                bottom: 0
                left: 0
                right: 0
                width: 80%
                z-index: 9999
                display: flex
                align-items: center
                justify-content: center
                background-color: rgba(0, 0, 0, 0.25)
                animation-name: appear
                animation-duration: 100ms
                .dialog
                    width: 100%
                    padding: 20px
                    max-width: 550px
                    background: $bgColor
                    color: $white
                    border-radius: 12px
                    text-align: center
                    display: flex
                    flex-direction: column
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
                    -webkit-animation-name: animatetop
                    -webkit-animation-duration: 0.2s
                    animation-name: slide-in
                    animation-duration: 0.2s

                    .header
                        justify-content: space-between
                        .title-modal
                            text-align: left
                            font-size: 20px
                            letter-spacing: 0.15px
                    .btn-close
                        margin: 0
                        width: 100%
                        height: 40px
                        border: 1px solid $blue
                        background-color: $bgColor
                        color: $blue
                    .body
                        overflow: auto
                    .content-modal
                        margin-top: 10px
                        margin-bottom: 20px
                        font-size: 14px
                        letter-spacing: 0.25px
                        text-align: left

                @keyframes appear
                    from
                        opacity: 0
                    to
                        opacity: 1
                @keyframes slide-in
                    from
                        transform: translateY(-150px)
                    to
                        transform: translateY(0)
            .radio-btns
                margin-top: 10px
                height: 192px
                display: flex
                flex-wrap: wrap
                justify-content: center
                align-items: center
                input
                    fill: $blue
                    flex-basis: 2%
                label
                    margin-left: 10px
                    margin-top: 3px
                    text-align: left
                    flex-basis: 85%
                    font-size: 16px
                    line-height: 24px
                    letter-spacing: 0.15px
            .btn-cancel
                margin: 10px 0px
                float: right
                background-color: $bgColor
                color: white
                border: none
                font-style: normal
                font-weight: 500
                font-size: 14px
                line-height: 24px
                display: flex
                align-items: center
                letter-spacing: 1.5px
                text-transform: uppercase
            .title
                display: flex
                margin-left: auto
                margin-right: auto
                width: 270px
                height: 379px
            .point
                display: inline-block
                margin: 4px
                width: 2px
                height: 2px
            .arrow-icon
                width: 24px
                height: 24px
                margin-bottom: -8px
                float: right
            .back-icon
                width: 24px
                height: 24px
                position: fixed
                z-index: 10
                top: 61px
                left: 16px
            .filter
                display: flex
                justify-content: center
                align-items: center
                background-image: url(./../assets/svg/filter.svg)
                background-repeat: no-repeat
                background-position: 170px 10px
                z-index: 5
                .seacrh-icon
                    position: absolute
                    top: 20px
                    left: 30px
                    width: 24px
                    height: 24px
                .filter-icon
                    position: absolute
                    right: 30px
                    top: 20px
                    width: 24px
                    height: 24px

                input
                    padding-left: 50px
                    font-size: 16px
                    width: 85%
                    height: 48px
                    border-radius: 20px
                    border: none
                    outline: none
                    color: $gray2
                    background-color: $bgColor2
                .vertical-line
                    position: absolute
                    right: 65px
                    top: 20px
                    border-left: 1px solid #FFFFFF1A
                    height: 25px
                    width: 1px
            .login
                text-align: center
                .signin
                    *
                        margin: 5px
                    .name,
                    .password
                        font-size: 14px

                    img
                        position: absolute
                        left: 30px
                    p
                        text-align: left
                        padding-left: 8px
                    input
                        padding-left: 55px
                        font-size: 14px
                        background-color: $bgColor2
                        border-radius: 13px
                        border: none
                        outline: none
                        height: 48px
                        width: 80%
                        color: white
                        &::placeholder
                            margin-left: 10px
                            color: $gray1
                            font-size: 16px
                        &:-webkit-autofill
                            -webkit-box-shadow: inset 0 0 0 50px $bgColor2
                            -webkit-text-fill-color: white
                    .name
                        img
                            bottom: 143px
                    .password
                        img
                            bottom: 47px
                        img.eye
                            right: 50px
                    button
                        font-size: 16px
                        line-height: 24px
                        letter-spacing: 0.15px
                        width: 93%
                        background-color: $blue
                        color: white
                        height: 48px
                        border-radius: 13px
                        border: none

                    .question
                        text-align: center
                        margin: 25px
                        font-size: 14px
                        color: $gray1
                        a
                            color: $green
            .register
                text-align: center
                *
                    margin: 5px
                h1
                    text-align: left
                    margin: 40px

                .name
                    margin-left: 30px
                    text-align: left
                input
                    padding-left: 25px
                    font-size: 14px
                    background-color: $bgColor2
                    border-radius: 13px
                    border: none
                    outline: none
                    height: 48px
                    width: 80%
                    color: white
                    &::placeholder
                        margin-left: 10px
                        color: $gray1
                        font-size: 16px
                    &:-webkit-autofill
                        -webkit-box-shadow: inset 0 0 0 50px $bgColor2
                        -webkit-text-fill-color: white
                .signin
                    img
                        position: absolute
                        left: 45px
                    #login,#password
                        width: 72%
                        padding-left: 60px
                    #loginIcon
                        bottom: 145px
                    #passwordIcon
                        bottom: 50px
                    button
                        margin-top: 30px
                        font-size: 16px
                        line-height: 24px
                        letter-spacing: 0.15px
                        width: 90%
                        background-color: $blue
                        color: white
                        height: 48px
                        border-radius: 13px
                        border: none

            .error
                border: 1px solid $red !important
                color: $red
                &::before
                    content: 'Обязательное поле'

            .count
                margin: 15px
                font-size: 10px
                font-weight: 500
                color: $gray2
                line-height: 16px
                letter: 1.5px
            .characters
                .character-item
                    width: 95%
                    margin: 2px
                    font-size: 14px
                    display: flex
                    align-items: center
                    .ava
                        width: 74px
                        height: 74px
                        border-radius: 50%
                        object-fit: cover
                    .about-character
                        margin: 5px
                        margin-left: 10px
                        *
                            margin: 3px
                        .name
                            font-size: 16px
                            line-height: 24px
                            letter-spacing: 0.5px
                        .alive
                            color: $green
                        .dead
                            color: $red
                        .uknown
                            color: $gray2
                        .alive,.dead,.uknown
                            letter-spacing: 1.5px
                            font-size: 10px
                        .gender,.race
                            font-size: 12px
                            color: $gray2
                            line-height: 16px
                            letter-spacing: 0.5px
            .selected-character
                font-size: 13px
                .ava
                    position: absolute
                    top: 166px
                    left: 115px
                    width: 146px
                    height: 146px
                    border-radius: 50%
                    border: 8px solid
                    border-color: $bgColor
                .bg-image
                    margin: -10px
                    width: 106%
                    height: 248px
                    filter: blur(3px)
                    z-index: -1
                    opacity: 0.5
                .name
                    line-height: 40px
                    margin-top: 90px
                    font-size: 34px
                .alive
                    color: $green
                .dead
                    color: $red
                .uknown
                    color: $gray2
                .alive,.dead,.uknown
                    letter-spacing: 1.5px
                    margin: 12px
                    font-size: 10px
                .gender,.race
                    font-size: 14px
                    color: $gray2
                .about
                    font-size: 13px
                .description
                    display: flex
                    flex-wrap: wrap
                    justify-content: space-around
                    *:not(.arrow-icon)
                        flex-basis: 50%
                        margin-top: 10px
                        color: $gray2
                    .arrow-icon
                        margin-bottom: 10px
                    .gender
                        color: $white
                    .race
                        color: $white
                    .placeOfBirth
                        width: 360px
                        color: $white
                    .location
                        width: 360px
                        color: $white
            .episodes
                .episode-item
                    width: 100%
                    margin-top: 20px
                    margin-bottom: 10px
                    display: flex
                    align-items: center
                    .logo
                        width: 70px
                        height: 70px
                        border-radius: 10px
                        object-fit: cover
                    .about-episode
                        height: 60px
                        margin-bottom: 5px
                        *
                            margin: 1px 10px 2px 20px
                        .name-episode
                            letter-spacing: 0.5px
                            font-size: 16px
                        .series
                            letter-spacing: 1.5px
                            font-size: 10px
                            color: $blue
                        .premiere
                            letter-spacing: 0.25px
                            font-size: 14px
                            color: $gray2
            .seasons
                width: 120%
                display: flex
                .season
                    flex-grow: 1
                    color: $gray2
                    font-weight: 500
                    font-size: 14px
                    letter-spacing: 1.5px
                    line-height: 24px
                    &::before
                        content: 'СЕЗОН '
                    &:focus
                        color: $white
                        text-decoration-line: underline
                        text-decoration-color: $white
            .selected-episode
                .about-episode
                    margin: 70px 5px 5px 5px
                    border-radius: 20%
                    .name
                        line-height: 32px
                        font-size: 24px
                    .series
                        margin: 15px
                        font-size: 10px
                        letter-spacing: 1.5px
                        color: $blue
                        &::before
                            content: 'СЕРИЯ '
                    .premiere
                        margin: 30px 0 30px 0
                        font-size: 12px
                        color: $gray2
                        div
                            color: white
                            font-size: 14px
                    .plot
                        font-size: 13px
                .video-player
                    .bg-image
                        margin: -10px
                        opacity: 0.7
                        width: 106%
                        height: 274px
                        z-index: -1
                    .player
                        left: 110px
                        top: 200px
                        position: absolute
                        z-index: 2
            .locations
                display: flex
                flex-wrap: wrap
                justify-content: center
                align-items: center
                .location-item
                    margin: 10px
                    background-color: $bgColor2
                    $br: 10%
                    border-radius: $br
                    width: 340px
                    height: 278px
                    max-height: 280px
                    display: flex
                    flex-wrap: wrap
                    .ava,svg.no-image
                        border-top-left-radius: $br
                        border-top-right-radius: $br
                        width: 100%
                        height: 72%
                        fill: white
                    .container
                        display: flex
                        flex-wrap: wrap
                        padding-left: 10px
                        padding-bottom: 10px
                        .name
                            width: 100%
                            font-size: 20px
                            line-height: 28px
                            letter-spacing: 0.15px
                        .location,.type-location
                            color: $gray2
                            font-size: 12px
                            letter-spacing: 0.5px
                            line-height: 16px
            .selected-location
                .name
                    font-size: 24px
                    font-weight: 700
                .type-location,.location
                    display: inline-block
                    font-size: 12px
                    color: $gray2
                .name,.type-location,.location
                    margin-top: 25px
                    margin-bottom: 25px
                .about
                    font-size: 13px
                    margin-bottom: 45px
                .bg-image,.no-image
                    margin: -10px
                    fill: white
                    width: 106%
            .settings
                margin: 10px
                .profile
                    display: flex
                    align-items: center
                    .description
                        .user-name
                            font-size: 14px
                            color: $gray1
                        .name
                            font-size: 16px
                    .ava
                        margin: 20px
                        width: 80px
                        height: 80px
                .edit
                    border-radius: 12px
                    border: 1px solid $blue
                    outline: none
                    background-color: $bgColor
                    color: $blue
                    width: 95%
                    font-size: 16px
                    line-height: 24px
                    letter-spacing: 0.15px
                    height: 40px
                .pallete-label,.about,.version
                    color: $gray2
                    font-size: 10px
                    font-weight: 500
                    line-height: 16px
                    letter-spacing: 1.5px
                .theme
                    display: flex
                    align-items: center
                    justify-content: center
                    margin-top: 15px
                    margin-bottom: 15px
                    .pallete
                        width: 36px
                        height: 36px
                    .about
                        align-items: center
                        margin: 10px
                        margin-left: 15px
                        width: 100%
                        .name
                            letter-spacing: 0.15px
                            color: white
                            font-size: 16px
                            line-height: 24px
                        .status
                            font-size: 14px
                .about-text,
                .version-value
                    margin-bottom: 40px
                    font-size: 13px
                    line-height: 20px
                    letter-spacing: 0.25px
        // FIXME- fix navbar position on render
        .nav-bar
            min-width: 375px
            width: 100%
            max-width: 385px
            background-color: $bgColor2
            display: flex
            text-align: center
            position: sticky
            bottom: 0
            a
                font-size: 12px
                flex-grow: 1
                text-decoration: none
                margin: 5px
                color: $gray2
                &:focus
                    *
                        stroke: $green
                        color: $green
                &:first-child:focus
                    *
                        stroke: none
                        fill: $green
                        color: $green
