@import colors
@import svg
@import default

html
    background-color: $bgColor
    color: $white
    max-width: 380px
    font-family: Arial, Helvetica, sans-serif
    font-weight: 400
    line-height: 19.5px
    letter-spacing: 0.5px
    text-overflow: ellipsis
    display: flex
    justify-content: center
    align-items: center
    img
        object-fit: cover
    a
        text-decoration: none
        color: $white
    .app
        .content
            margin: 7px
            @import loader
            .title
                display: flex
                margin-left: auto
                margin-right: auto
                width: 270px
                height: 379px
            .filter
                display: flex
                justify-content: center
                align-items: center
                background-image: url(./../assets/svg/filter.svg)
                background-repeat: no-repeat
                background-position: 170px 10px
                z-index: 5
                .seacrh-icon
                    position: absolute
                    top: 20px
                    left: 30px
                    width: 24px
                    height: 24px
                .filter-icon
                    position: absolute
                    right: 30px
                    top: 20px
                    width: 24px
                    height: 24px
                    &:checked

                input
                    padding-left: 40px
                    font-size: 16px
                    width: 80%
                    height: 48px
                    border-radius: 20px
                    border: none
                    outline: none
                    color: $gray2
                    background-color: $bgColor2
                    // background-image: url(./../assets/svg/search.svg)
                    // background-repeat: no-repeat
                    // background-position: 10px 10px
                .vertical-line
                    position: absolute
                    right: 65px
                    top: 20px
                    border-left: 1px solid #FFFFFF1A
                    height: 25px
                    width: 1px
            .set-filter

            .count
                margin: 15px
                font-size: 10px
                font-weight: 500
                color: $gray2
                line-height: 16px
                letter: 1.5px

            .characters
                display: flex
                flex-wrap: wrap
                .character-item
                    margin: 10px
                    font-size: 14px
                    display: flex

                    .ava
                        width: 74px
                        height: 74px
                        border-radius: 50%
                        object-fit: cover
                    .about-character
                        margin: 5px
                        margin-left: 10px
                        *
                            margin: 3px
                        .name
                            font-size: 16px
                        .alive
                            color: $green
                        .dead
                            color: $red
                        .uknown
                            color: $gray2
                        .alive,.dead,.uknown
                            font-size: 10px
                        .gender,.race
                            font-size: 12px
                            color: $gray2
            .selected-character
                font-size: 13px
                .ava
                    position: absolute
                    top: 138px
                    left: 110px
                    width: 146px
                    height: 146px
                    border-radius: 50%
                    border: 7px solid
                    border-color: $bgColor
                .bg-image
                    width: 100%
                    height: 218px
                    filter: blur(3px)
                    z-index: -1
                    opacity: 0.5
                .name
                    margin-top: 90px
                    font-size: 34px
                .alive
                    color: $green
                .dead
                    color: $red
                .uknown
                    color: $gray2
                .alive,.dead,.uknown
                    margin: 12px
                    font-size: 10px
                .gender,.race
                    font-size: 14px
                    color: $gray2
                .about
                    font-size: 13px
                .description
                    display: flex
                    flex-wrap: wrap
                    color: $gray2
                    .gender
                        width: 50%
                        color: $white
                        flex: 1
                    .race
                        width: 50%
                        color: $white
                        flex: 1
                    .placeOfBirth
                        width: 100%
                        flex: 5
                        color: $white
                        a
                            display: inline-block
                            img
                                float: right
                    .location
                        width: 100%
                        flex: 5
                        color: $white
            .episodes
                .episode-item
                    margin: 10px
                    display: flex
                    img
                        width: 60px
                        height: 60px
                        border-radius: 10%
                        object-fit: cover
                    .about-episode
                        *
                            margin: 1px 10px 2px 10px
                        .name
                            font-size: 16px
                        .series
                            font-size: 10px
                            color: $blue
                        .premiere
                            font-size: 14px
                            color: $gray2
            .seasons
                display: flex
                .season
                    flex-grow: 1
                    color: $gray2
                    font-weight: 500
                    font-size: 14px
                    &::before
                        content: 'СЕЗОН '
                    &:active
                        color: $white
                        text-decoration-line: underline
                        text-decoration-color: $white

            .selected-episode
                .name
                    font-size: 24px
                .series
                    margin: 15px
                    font-size: 10px
                    color: $blue
                    &::before
                        content: 'СЕРИЯ '
                .premiere
                    font-size: 14px
                    color: $gray2
                    &::before
                        content: 'Премьера '
                .plot
                    font-size: 13px
                .video-player
                    .bg-image
                        width: 366px
                        height: 274px
                        z-index: -1
                    .player
                        z-index: 2
            .locations
                display: flex
                flex-wrap: wrap
                justify-content: center
                align-items: center
                .location-item
                    margin: 10px
                    background-color: $bgColor2
                    $br: 10%
                    border-radius: $br
                    width: 340px
                    height: 238px
                    max-height: 280px
                    display: flex
                    flex-wrap: wrap
                    img
                        border-top-left-radius: $br
                        border-top-right-radius: $br
                        width: 100%
                        height: 70%
                    *:not(img)
                        margin: 8px
                    .name
                        width: 100%
                        font-size: 20px
                    .location,.type-location
                        color: $gray2
                        font-size: 12px
            .selected-location
                .name
                    font-size: 24px
                    font-weight: 700
                .type-location,.location
                    display: inline-block
                    font-size: 12px
                    color: $gray2
                .name,.type-location,.location
                    margin-top: 25px
                    margin-bottom: 25px
                .about
                    font-size: 13px
                    margin-bottom: 45px
                img
                    width: 100%

        .nav-bar
            width: 380px
            background-color: $bgColor2
            display: flex
            text-align: center
            position: sticky
            bottom: 0px
            z-index: 99
            &:first-child
                fill: $gray2
            a
                font-size: 12px
                flex-grow: 1
                text-decoration: none
                padding: 5px
                color: $gray2
                &:hover
                    *
                        fill: $green
                        color: $green
